<html>
    <head>
        <title>Emissão arquivo</title>
    </head>

    <body>
        <H1>Bem vindo a Locadora Aqui Filmes</H1><br>
        <H2>Selecione o arquivo em <b><i>csv</i></b> para emissão.</H2><br>
        <H3>Após, envie para publicar o status dos filmes disponíveis na locadora.</H3>

        <form class="" action="data" method="post"><br>

            <input type="file" name="csvfile" value=""><br><br><br>
            <input type="submit" name="" value="Enviar Arquivo">
        </form>

    </body>

</html>